* {
    font-family: 'Inter',
}

.bg-imag-header {
    background-image: url('/image/homepage/header/Vector2.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 60%
}

.bg-imag-register {
    background-image: url('/image/background/background1.png');
    background-position: center top;
    background-repeat: no-repeat;
}

.bg-imag-userpage {
    background-image: url('/image/background/background2.png');
    background-position: center top;
    background-repeat: no-repeat;
}